<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <title>Home</title>
  </head>
  <body>
    <div className="container">
      <div className="title">
        <p>Systemic Safety Improvement for Maryland</p>
      </div>
      <button onclick="window.location.href='../data-specification/data-spec.html'">Start</button>
    </div>
  </body>
</html>
